<%- include('header')%>
<form action="" class="form" method="post" style="height: 420px">
    <h1>Forgot password</h1>
    <label>Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <input type="submit" class="generalBtns" value="Get password" id="loginBtn" style="width: 230px"><br>
    <a link rel="stylesheet" href="/" style="margin-left: 75%">Back</a>
</form>
<%- include('footer')%>