<%- include('header')%>
<form action="/" class="form" method="post" style="height: 600px">
    <h1>Create new account</h1>
    <label>Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label>Password:</label>
    <input type="text" id="pass" name="pass"><br><br>
    <input type="submit" value="Sign up" id="loginBtn" class="generalBtns"><br>
    <a link rel="stylesheet" href="/" style="margin-left: 75%">Back</a>
</form>
<%- include('footer')%>