@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

/*#region Forms*/
.form{
    background-color: white;
    padding: 10px 30px 60px;
    width: 30%;
    height: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid black;
}
#newForm{
    width: 80%;
    height: 850px;
    margin-top: 50px;
}
#updateForm{
    margin-top: 20px;
    height: 880px;
}
/*endregion Forms*/

/*#region Login*/
#loginBtn{
    display: block;
    left: 90px;
    margin-left: auto;
    margin-right: auto;
}

.loginlinks{
    position: fixed;
    left: 0px;
    top: 620px
}
/*#endregion Login*/

.generalBtns{
    border-radius: 10px;
    background-color: white;
    color: dodgerblue;
    position: relative;
    margin-left: 80px;
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid dodgerblue;
    transition: 0.3s;
}
.generalBtns:hover{
    opacity: 1;
    background-color: dodgerblue;
    cursor: pointer;
    color: white;
}

/*#region Inputs*/
input[type="text"], #actors{
    border-radius: 10px;
    background-color: lightgrey;
    height: 45px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 3px solid black;
    font-size: 30px;
    transition: 0.3s;
}
input[type="text"]:hover, #actors:hover{
    box-shadow: 0px 0px 5px grey;
}

input[type="password"]{
    border-radius: 10px;
    background-color: lightgrey;
    height: 45px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 3px solid black;
    font-size: 30px;
    transition: 0.3s;
}
input[type="password"]:hover{
    box-shadow: 0px 0px 5px grey;
}

input[type="image"]{
    height: 200px;
    width: 200px;
    object-fit: cover;
    display: block;
    margin: 15px auto 30px;
}

input[type="file"]{
    display: none;
}
/*#endregion Inputs*/

/*#region Tags*/
h1{
    text-align: center;
    padding-bottom: 50px;
    font-weight: bold;
}

label{
    font-size: 30px;
    padding-left: 80px;
}
body{
    background-color: slategray;
    font-family: Century Gothic;
}

a{
    font-family: "Times New Roman";
    text-decoration: none;
    font-style: italic;
    font-weight: lighter;
    font-size: 25px;
    transition: 0.3s;
    text-align: right;
}
a:hover{
    opacity: 60%;
    cursor: pointer;
    text-decoration: none;
}
/*#endregion Tags*/

/*#region MainLayout*/
.mainPage{
    background-color: white;
    padding: 10px 30px 60px;
    width: 97%;
    height: 870px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid black;
}

.details{
    border-radius: 10px;
    background-color: lightskyblue;
    border: 3px solid dodgerblue;
    text-align: left;
    padding: 20px 50px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 50px;
    font-size: 25px;
    height: 500px;
}

.categories{
    text-decoration: underline;
}

.main {
    width: 60%;
    position: fixed;
    top: 20px;
    left: 70px;
    padding: 8px 0;
}

.sidebar {
    width: 40%;
    margin-left: 60%;
    margin-top: 80px;
    font-size: 28px;
    font-weight: bold;
    padding-right: 0px;
    padding-left: 50px;
}

.sidebar:hover{
    transition: 0.3s;
}

.col-md-3{
    background-color: lightgrey;
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    transition: 0.3s;
}

.img_background{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    position: fixed;
    width: 250px;
    height: 250px;
    top: 43px;
    left: 274px;
}

#watchedMovie{
    background-color: lightgreen;
    border: 3px solid limegreen;
}

.col-md-4{
    background-color: indianred;
    border: 3px solid red;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    transition: 0.3s;
}

.col-md-3:hover, .col-md-4:hover, #watchedMovie:hover, #red:hover{
    border-color: dodgerblue;
    background-color: lightskyblue;
}

.updateMoviePicture{
    height: 200px;
    width: 200px;
    object-fit: cover;
    display: block;
    margin: 15px auto 30px;
    transition: 0.3s;
    position: fixed;
    top: 50px;
    left: 300px;
}

.filmkep{
     height: 200px;
     width: 200px;
     object-fit: cover;
     display: block;
     margin: 15px auto 30px;
     transition: 0.3s;
    cursor: pointer;
 }

.filmkep:hover{
    transform: scale(1.1);
}

.description{
    font-size: 20px;
    padding-left: 5%;
}

/*#endregion MainLayout*/

/*#region MainBtns*/
.mainPagebtns{
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    color: white;
    transition: 0.3s;
    padding: 7px 20px;
    top: 650px;
}

#updateBtn{
    background-color: white;
    border: 3px solid dodgerblue;
    color: dodgerblue;
    position: fixed;
    margin-left: 0;
    left: 65%;
    margin-right: 18%;
    padding-right: 40px;
    padding-left: 40px;
}
#updateBtn:hover{
    opacity:1;
    background-color: dodgerblue;
    cursor: pointer;
    color: white;
}

#watchedBtn{
    background-color: white;
    border: 3px solid limegreen;
    color: limegreen;
    position: fixed;
    margin-left: 0;
    left: 77.3%;
    margin-right: 17%;
    padding-right: 40px;
    padding-left: 40px;
}
#watchedBtn:hover{
    opacity: 1;
    background-color: limegreen;
    cursor: pointer;
    color: white;
}

#newBtn{
    background-color: white;
    border: 3px solid dodgerblue;
    color: dodgerblue;
    position: fixed;
    margin-left: 0;
    top: 40px;
    left: 65%;
    width: 60px;
}
#newBtn:hover{
    opacity:1;
    background-color: dodgerblue;
    cursor: pointer;
    color: white;
}

#delBtn{
    background-color: white;
    border: 3px solid firebrick;
    color: firebrick;
    position: fixed;
    margin-left: 0;
    left: 90.5%;
    width: 60px;
}
#delBtn:hover{
    opacity: 1;
    background-color: firebrick;
    cursor: pointer;
    color: white;
}

#logoutBtn{
    background-color: white;
    border: 3px solid slategray;
    color: slategray;
    position: fixed;
    margin-left: 0;
    left: 84.5%;
    top: 40px;
    margin-right: 18%;
    padding-right: 40px;
    padding-left: 40px;
    white-space: nowrap;
}
#logoutBtn:hover{
    opacity: 1;
    background-color: slategray;
    cursor: pointer;
    color: white;
}
/*#endregion MainBtns*/

/*#region NewMovie*/

.col-md-6{
    margin-top: 30px;
}

#movieimageLbl{
    font-size: 30px;
    padding-left: 10px;
    margin-top: 60px;
    margin-left: 60px;
    width: 250px;
    color: slategrey;
    border-color: slategrey;
}
#movieimageLbl:hover{
    opacity: 1;
    background-color: slategray;
    cursor: pointer;
    color: white;
}

#newAddBtn{
    position: absolute;
    top: 540px;
    left: 30px;
}

#newbackBtn{
    background-color: white;
    border-color: firebrick;
    color: firebrick;
    font-family: Century Gothic;
    font-weight: bold;
    padding: 4px 70px;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    top: 540px;
    left: 350px;
}
#newbackBtn:hover{
    opacity: 1;
    background-color: firebrick;
    cursor: pointer;
    color: white;
}

#movieimageLbl{
    position: relative;
    top: -15px;
    left: 10px;
}


/*#endregion NewMovie*/

/*#region UpdateMovie*/
#updatebackBtn{
    background-color: white;
    border-color: firebrick;
    color: firebrick;
    font-family: Century Gothic;
    font-weight: bold;
    padding: 4px 50px;
    font-style: normal;
    font-size: 30px;
    position: relative;
    top: -61px;
    left: 190px;
}
#updatebackBtn:hover{
    opacity: 1;
    background-color: firebrick;
    cursor: pointer;
    color: white;
}

#updatedoneBtn{
    width: 180px;
    top: -15px;
    left: -20px;
}
/*#endregion UpdateMovie*/

.error{
    position: absolute;
    top: 200px;
    color: red;
    text-align: center;
    font-weight: bold;
}